.top-navbar {
  background-color: transparent;
}

.nav-custom-btn {
  background-color: var(--lila-principal);
  color: rgb(7, 0, 0) !important;
  border-radius: 12px;
  padding: 14px;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.nav-custom-btn:hover {
  transform: scale(1.03);
  background-color: #7b5dc0;
}